<h1>Login Details</h1>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <span class="glyphicon glyphicon-user"></span>Email ID
    <input type="email" [(ngModel)]="loginForm.email" name="email" #email="ngModel" required minlength="6" maxlength="19">
    
    <br>
    <span class="glyphicon glyphicon-lock"></span>Password
    <input type="password" [(ngModel)]="loginForm.password" name="password" #password="ngModel" required minlength="6" maxlength="19">
    <br>
    <button type="submit">Login</button>
</form>

<div class="error-messages">
  <p *ngIf="!loginForm.controls?.email?.valid && loginForm.controls?.email?.touched">Please enter a valid email</p>
  <p *ngIf="!loginForm.controls?.password?.valid && loginForm.controls?.password?.touched">Please enter your password</p>
</div>