<h1>Employee List</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Position</th>
    <th>Doj</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Experience</th>
    <th>Country</th>
    
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.id }}</td>
    <td>{{ employee.name | gender:employee.gender }}</td>
    <td>{{ employee.salary | currency:'INR'}}</td>
    <td>{{ employee.position | titlecase }}</td>
    <td>{{ employee.doj | date: 'medium' }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.gender }}</td>
    <td>{{employee.doj | experience}}</td>
    <td>{{employee.country | country}}</td>
    
  </tr>
</table>
