<!-- <div class="container mt-4">
    <div class="row">
      <div class="col-md-4" style="width: 100rem;">
        <div class="card">
          <h3 class="card-title">WATCHES</h3>
          <img src=" https://www.topconsumerreviews.com/best-watch-stores/images/body-watch-stores-1.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4" style="width: 100rem;">
        <div class="card">
          <h3 class="card-title">SHOES</h3>
          <img src="https://4.bp.blogspot.com/-EyucMAKqimA/UFQDggfxrvI/AAAAAAAAAgc/Pu3xNXjL3_E/s1600/43.shoes+stores.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
          
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4" style="width: 100rem;">
        <div class="card">
          <h3 class="card-title">SHOES</h3>
          <img class="image" src="https://rukminim1.flixcart.com/image/1664/1664/shoe/p/a/g/navy-grey-111520-converse-9-original-imadehy8jfmvndjg.jpeg?q=90" class="card-img-top" alt="Card Image">
          <div class="card-body">
            
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container mt-4">
    <h2 class="text-center">Clothing Collection</h2>
    <div class="row">
        <div *ngFor="let item of clothingItems" class="col-md-4 mb-4">
            <div class="card">
                <img [src]="item.imageUrl" class="card-img-top" alt="{{ item.name }}" />
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text">Price: ${{ item.price }}</p>
                    <a href="#!" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>