<h1 align="center"> Employee Registration </h1>
<form (ngSubmit)="onSubmit()">
    <label for="empId">Employee ID:</label>
    <input type="text" id="empId" name="empId" [(ngModel)]="employee.empId" required>
  
    <label for="empName">Employee Name:</label>
    <input type="text" id="empName" name="empName" [(ngModel)]="employee.empName" required>
  
    <label for="salary">Salary:</label>
    <input type="text" id="salary" name="salary" [(ngModel)]="employee.salary" required>
  
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" [(ngModel)]="employee.gender" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
    </select>
  
    <label for="doj">Date of Joining:</label>
    <input type="date" id="doj" name="doj" [(ngModel)]="employee.doj" required>
  
    <label for="country">Country:</label>
    <select id="country" name="country" [(ngModel)]="employee.country" required>
        <option value="india">India</option>
      <option value= "usa">USA</option>
      <option value="canada">Canada</option>
      <option value="nz">NZ</option>
      <option value="russia">Russia</option>
     
    </select>
  
    <label for="emailId">Email ID:</label>
    <input type="email" id="emailId" name="emailId" [(ngModel)]="employee.emailId" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="employee.password" required>

    

    
  
   
  
    <button type="submit">Register</button>
  </form>